p {
	color: #424242;
}

h1 {
	color: #ffffff;
}

.yen {
	margin: auto;
	width: 70%;
	background-color: #eeeeee;
	text-align: center;
}

#first {
	color: #ff0000;
}

#sec {
	color: #ffa500;
}

#third {
	color: #00cc00;
}

#fourth {
	color: #0000ff;
}

#fifth {
	color: #4B0082;
}
#sixth {
	color: #7f00ff;
}
